﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo Website</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
    A demo website using Nancy + F#
    <a href="~/tools/">Miscellaneous tests and tools</a>
</body>
</html>